body {
	background-color: white;
}
section#header {
	padding: 0 0 5px 0;
	margin: 0 0 5px 0;
	min-height: 70px;
	padding-top: 15px;
	border-bottom: 1px solid rgb(247, 247, 247);
}
div#top-search, div#top-actions {
	margin-top: 18px;
}
div#top-logo {
	padding-top: 3px;
}
a#top-logo {
	font-family: 'Dancing Script';
	font-size: 40px;
	color: black;
}
a#top-logo:hover {
	text-decoration: none;
}
a#top-logo span {
	color: rgb(248, 84, 6);
}
img#img_logo {
	width: 90%
}
section#body {
	/*padding: 15px 0 0 0;*/
	margin-top: 30px;
}
input#search_input {
	/*width: 250px;*/
	height: 16px;
}
form.form-search {
	float: left;
	margin: 0;
	padding: 0;
}
div#action_login {
	/*float: right;*/
	padding-top: 5px;
}
ul.errorlist {
	list-style-type: none;
}
ul.errorlist li {
	margin-left: -15px;
	color: red;
}

div#topbar {
	height: 36px;
	background-color: rgb(253, 253, 253);
	border-bottom: 1px solid rgb(245, 245, 245);
	/*position: fixed;
	width: 100%;
	z-index: 1;*/
}
div#logo, div#search, div#other {
	float: left;
}

div#search, div#other, div#user {
	padding: 5px 0 5px 0;
}

div#logo {
	margin-left: 207px;
	background-color: silver;
}
div#logo div {
	min-height: 36px;
	width: 50px;
	overflow: hidden;
}
div#logo div#pros_block {
	background-color: rgb(171, 255, 185);
	float: left;
	border-left: 1px solid rgb(126, 255, 131);
}
div#logo div#cons_block {
	background-color: rgb(255, 182, 182);
	float: left;
	border-right: 1px solid rgb(255, 163, 163);
}

div#search {
	margin-left: 110px;	
}

div#other {
	margin-left: 30px;
	width: 262px;
	padding-top: 10px;
}

div#user {
	display: inline-block;
	width: 165px;
	text-align: right;
}

div.dropdown {
	text-align: center;
}
div#user div {
	display: inline-block;
	margin-left: 40px;
}

a#explore {
	color: rgb(143, 143, 143);
	font-size: 15px;
	padding: 5px;
}

a#username {
	color: rgb(131, 131, 131);
}

a#username:hover {
	color: #0088cc;
}