div.chart {
	width: 460px;
	float: left;
	padding-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px solid silver;
	/*-moz-box-shadow:    0 0 8px rgb(230, 230, 230);
	-webkit-box-shadow: 0 0 8px rgb(230, 230, 230);
	box-shadow:         0 0 8px rgb(230, 230, 230);*/
}
div.item {
	font-size: 21px;
	padding-bottom: 5px;
	border-bottom: 1px solid silver;
}