{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="span2" id="left_sidebar">
			{% include "items/categories.html" %}
		</div>
		<div class="span8">
			{% if latest_item_list %}
				<ul id="items">
					{% for item in latest_item_list %}
						<li id="item">
							<div id="item">
								<div id="item_info">
									<div id="item_name">
										<a href="/items/{{ item.id }}" id="item_name">{{ item.name }}</a>
									</div>
									<div id="item_stats">
										<span id="pros_count">{{ item.pros_count }}</span><span id="cons_count">{{ item.cons_count }}</span>
										<span id="views_count">{{ item.views_count }} views</span>
									</div>
								</div>
								{% if item.cover_image %}
								<div id="image_thumbnail">
									<a href=""><img src="{{ item.cover_image.image_mini_thumb.url }}"></a>
								</div>
								{% endif %}
							</div>
							{% if item.latest_feedback %}
							<div class="latest_feedback" id={% if item.latest_feedback.is_positive %}"pro"{% else %}"con"{% endif %}>
								<div id="latest_feedback_body">
									<!-- <span>latest: </span> --><a id="latest_feedback" href="/items/{{item.id}}/#{{item.latest_feedback.id}}">“{{ item.latest_feedback.body }}”</a>
								</div>
								<div id="feedback_stats">

								</div>
							</div>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No items are available</p>
			{% endif %}
		</div>
		<div class="span2"></div>
	</div>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/explore.css">
<script type="text/javascript">
	$(document).ready(function () {
		$('li.active').removeClass('active');
		$('li#{{ category_name }}').addClass('active');
	});
</script>
{% endblock %}