{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="span12">
			<div id="item" item-id="{{ item.id }}">
				<div id="item_name">{{ item.name }}</div>
				{% if experience %}
					<span id="usage_info" class="muted">
						You used this {{ item.category }} for <a>{{ experience.duration }}</a> and rated as <a>{{ experience.rating }}</a>
						<a href="/item/{{ item.id }}/usage/edit/" id="edit">edit</a>
					</span>
				{% else %}
					{% include "items/usage-form.html" %}
					{% include "items/not_used-modal.html" %}
				{% endif %}
			</div>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="span10">
			<div id="proscons_wrapper">
				<div class="feedback_column" id="pros">
					<div id="pros_label">
						What I like:
					</div>
					<ul id="feedbacks">
						{% for feedback in feedbacks %}
							{% if feedback.is_positive %}
								{% include "reviews/feedbacks/feedback-li.html" %}
							{% endif %}
						{% endfor %}
					</ul>
					{% if user.is_authenticated and experience %}
						{% include "reviews/feedbacks/add.html" with is_positive=1 %}
					{% else %}
						<a href="javascript:void(0);" id="add_feedback">Add feedback</a>
						{% include "reviews/feedbacks/add.html" with is_positive=1 hidden=True%}
					{% endif %}
				</div>
				<div class="feedback_column" id="cons">
					<div id="cons_label">
						What I don't like:
					</div>
					<ul id="feedbacks">
						{% for feedback in feedbacks %}
							{% if not feedback.is_positive %}
								{% include "reviews/feedbacks/feedback-li.html" %}
							{% endif %}
						{% endfor %}
					</ul>
					{% if user.is_authenticated and experience %}
						{% include "reviews/feedbacks/add.html" with is_positive=0 %}
					{% else %}
						<a href="javascript:void(0);" id="add_feedback">Add feedback</a>
						{% include "reviews/feedbacks/add.html" with is_positive=0 hidden=True%}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="span2">Hey yo</div>
	</div>
	<!-- ICanHaz templates -->
	<script type="text/html" id="feedback">
		<li class="feedback" id='{% verbatim %}{{ id }}{% endverbatim %}'>
			<div id="feedback_body">
				<div id="score">0</div>
				{% verbatim %}
				{{ body }}
				{% endverbatim %}
			</div>
			<div id="actions">
				<button class="vote btn btn-mini" type-id="1" weight="1">Agree</button>
				<button class="vote btn btn-mini" type-id="2" weight="-1">Disagree</button>
			</div>
			<div id="stats">
				<span id='agrees_count'>0</span> Agrees
				<span id='disagrees_count'>0</span> Disagrees
				Priorities: 
				1-<span class="priority" id="1">0</span>
				2-<span class="priority" id="2">0</span>
				3-<span class="priority" id="3">0</span>
				<a id="details_link" href="/feedbacks/{{ feedback.id }}/details">Details(<span id="count">0</span>)</a>
			</div>
		</li>
		<hr>
	</script>
	<script type="text/html" id="usage_info">
		<span id="usage_info" class="muted">
			You used this {{ item.category }} for 
			{% verbatim %}
			<a>{{ duration }}</a> and rated as <a>{{ rating }}</a> 
			{% endverbatim %}
			<a href="/item/{{ item.id }}/usage/edit/" id="edit">edit</a>
		</span>
	</script>
	<script type="text/html" id="similar_feedback">
		<li id="similar_feedback">
			{% verbatim %}
			<a href="#{{ id }}">{{ body }}</a>
			{% endverbatim %}
		</li>
	</script>
	<script type="text/html" id="set_priority">
		{% verbatim %}
		<button href="javascript:void(0);" class="set_priority">#{{ value }}</button>
		{% endverbatim %}
	</script>
	<!-- JavaScript -->
	<script type="text/javascript">
		$(document).ready(function() {
			{% if user.is_authenticated %}
				{% if experience %}
					siteNameSpace.exec('review', { is_authenticated: true, is_used: true });
				{% else %}
					siteNameSpace.exec('review', { is_authenticated: true, is_used: false });
				{% endif %}
			{% else %}
				siteNameSpace.exec('review');	// default configuration is set to {is_authenticated: false}, so guest() will fire
			{% endif %}
		});
	</script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/review.css">
{% endblock %}