{% extends "base.html" %}
{% block content %}
	<div class="row">
		<h1>{{ item.name }}</h2>
	</div>
	<div class="row">

		<div class="span4" id="pros">
			<h3>What I like:</h3>
			{% for feedback in feedbacks %}
				{% if feedback.is_positive %}
					<div class="well">
						{{ feedback.body }}
						<p id="actions">
							<a class="vote" id="1" href="#">Agree</a>/<a class="vote" id="2" href="#">Disagree</a>
						</p>
					</div>
				{% endif %}
			{% endfor %}
			{% if user.is_authenticated %}
				<form id="feedback" action="/reviews/feedback/add/" method="post">
					{% csrf_token %}
					<input type="text" name="feedback_body" />
					<input type="hidden" name="item_id" value={{ item.id }}>
					<input type="hidden" name="is_positive" value=1>
					<input type="submit" value="add">
				</form>
			{% endif %}
		</div>
		<div class="span4" id="cons">
			<h3>What I don't like:</h3>
			{% for feedback in feedbacks %}
				{% if not feedback.is_positive %}
					<div class="well">
						{{ feedback.body }}
						<p id="actions">
							<a class="vote" id="up" href="#">Agree</a>/<a class="vote" id="down" href="#">Disagree</a>
						</p>
					</div>
				{% endif %}
			{% endfor %}
			{% if user.is_authenticated %}
				<form id="feedback" action="/reviews/feedback/add/" method="post">
					{% csrf_token %}
					<input type="text" name="feedback_body" />
					<input type="hidden" name="item_id" value={{ item.id }}>
					<input type="hidden" name="is_positive" value=0>
					<input type="submit" value="add">
				</form>
			{% endif %}
		</div>
	</div>
	<script type="text/html" id="feedback">
		<div class="well">
			{% verbatim %}
			{{ body }}
			{% endverbatim %}
		</div>
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			siteNameSpace.apply("review");
		});
	</script>
{% endblock %}